body {
  background-color: aquamarine;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 40px;
  margin-bottom: 10px;
}

select {
  font-size: 25px;
  padding: 5px;
  /* margin-left: 40px; */
  margin-bottom: 20px;
}

button {
  font-size: 25px;
  padding: 10px 20px;
  margin-left: 800px;
  background: linear-gradient(to right, #1093ff, #06eeff);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

button:hover {
  background-color: #3e8e41;
}

/* CSS styling for the image display */
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 450px;
  margin-bottom: 20px;
  border-radius: 15px;
  height: 600px;
  width: 600px;
  background-color: #eed8d8;
}

img {
  max-width: 500px;
  max-height: 500px;
  margin-top: 18px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 3px 4px black;
}


/* CSS styling for the input field */
.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  width: 26%;
}

/* .footer{
  background-color:rgba(0, 0, 0, 0.749);
  display: block;
  width: 100%;
  height: 80px;
} */

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(peakpx.jpg);
background-position: center;
background-size: cover; */


}

body{
    background-color: #f2f2f2;
}

.navbar {
    overflow: hidden;
    background-color: rgb(69, 67, 67);
    display: flex;
    height: 55px;
    padding: 2px;
    margin-top: 5px;

}


.title {
    font-size: 20px;
}

.sections-container{
    padding: 10px;
    margin-left: 360px;
}

.sections {
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.sections:hover{

    color: black;
}

.icon-container{
    margin-left: 150px;
    padding: 10px;
}

.icon{
    margin-left: 30px;
    width: 20px;
    cursor: pointer;
}
